$col-sidebar: #081f4b;
$col-sidebar-text: #8b99b6;

$col-sidebar-active: #0083ff;
$col-sidebar-active-text: #fffefe;

$col-container: #f8f8f8;
$col-container-text: #000;

$col-article: #fff;
$col-article-font: #000;