@import 'colors.scss';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#sidebar {
    color: $col-sidebar-text;
    background-color: $col-sidebar;
}

#container {

}